{% extends 'layout/common.twig' %}
{% block title %} Task{% endblock %}

{% block contant_wrapper %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="pull-left text-uppercase title">{{ typeTitle }} Task List</h3>
            <div class="pull-right btn-toolbar">
                {% if(typeTitle == 'ALL') %}
                    <a href="/task/member/list/today" class="btn btn-warning btn-group  text-uppercase">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Today's List
                    </a>
                {% elseif(typeTitle == 'TODAY') %}
                    <a href="/task/member/list" class="btn btn-warning btn-group  text-uppercase">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> All List
                    </a>
                {% endif %}
            </div>

        </div>

    </div>
    <hr>
    {% if task is empty %}
        {% include '/element/common/no-data.twig' %}
    {% else %}
            <div class="row">
                <div class="col-lg-12">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Client ID</th>
                            <th>Created By</th>
                            <th>Task Type</th>
                            <th>Status</th>
                            <th>Assign Date</th>
                            <th>Action Date</th>
                            <th style="text-align: right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tasks in task %}
                            <tr class="odd gradeX">
                                <td><a href="/task/view/{{ tasks.task_id }}">{{ tasks.client_id }}</a></td>
                                <td>{{ tasks.users_full_name }}</td>
                                <td>
                                    {% if  tasks.task_type==1 %}
                                        <span class="label label-warning"> Edit </span>
                                    {% elseif tasks.task_type==2 %}
                                        <span class="label label-primary"> Redesign </span>
                                    {% elseif tasks.task_type==3 %}
                                        <span class="label label-info">New </span>
                                    {% elseif tasks.task_type==4 %}
                                        <span class="label label-success">Live </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if  tasks.status==1 %}
                                        <span class="text-success text-uppercase"
                                              style="color:#46af48;font-weight:600">Complete </span>
                                    {% elseif tasks.status==2 %}
                                        <span class="text-danger text-uppercase"
                                              style="color: #ff9800 ;font-weight:600"> Incomplete </span>
                                    {% elseif tasks.status==3 %}
                                        <span class="text-warning text-uppercase"
                                              style="color: #e82f21 ;font-weight:600">Pending </span>
                                    {% elseif tasks.status==4 %}
                                        <span class="text-primary text-uppercase" style="color:#46af48;font-weight:600">Done </span>
                                    {% elseif tasks.status==5 %}
                                        <span class="text-default text-uppercase"
                                              style="color: #ff9800;font-weight:600">On Progress </span>
                                    {% elseif tasks.status==6 %}
                                        <span class="text-default text-uppercase"
                                              style="color: grey;font-weight:600">Pause</span>
                                    {% endif %}

                                </td>
                                <td>{{ tasks.created_at | date('d M, Y') }}</td>
                                <td>{{ tasks.action_date | date('d M, Y') }}</td>


                                <td style="text-align: right">
                                    <a href="/task/view/{{ tasks.task_id }}"><span
                                                class="glyphicon glyphicon-eye-open"
                                                data-toggle="tooltip" title="Details"></span></a>

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
    {% endif %}
{% endblock %}
