{% extends '/layout/common.twig' %}
{% block title %} Create Task{% endblock %}
{% block contant_wrapper %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="pull-left text-uppercase title">Create New Task</h3>
            <div class="pull-right btn-toolbar">
                <a href="/task/list/all" class="btn btn-warning btn-group  text-uppercase">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Task List
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form class="" role="form" action="/task/add" method="post" enctype="multipart/form-data">
                <fieldset>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="client_id">Client ID</label>
                                <input type="number" name="client_id" class="form-control" id="client_id"
                                       placeholder="Input Client ID" required>
                            </div>
                            <!--<<div class="form-group ">
                                <label for="title">Task Title</label>
                                <input type="text" name="title" class="form-control" id="title"
                                       placeholder="Title" required>
                            </div>-->


                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea name="description" class="form-control" id="summernote"></textarea>
                            </div>
                            {#
                                                                <div class="form-group">
                                                                    <label for="attached">Attached</label>
                                                                    <input type="file" name="attached" class="form-control" id="attached" multiple>
                                                                </div>
                            #}


                            <input class="" placeholder="" name="user_id" value="{{ session.user.0.id }}"
                                   type="hidden">



                            <input type="hidden" name="f_name" value="{{ mem.0.first_name }}">

                            {#<div class="form-group col-md-6\">
                                 <label for="attached">Attached</label>
                                 <input type="file" name="attached" class="form-control" id="attached" >
                            </div>#}

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="member">Assign To</label>
                                <select class="form-control" name="member_id" id="member" required>
                                    <option value="">Choose member</option>

                                    {% for members in mem %}
                                        <option value="{{ members.id }}_{{ members.slack_username }}">{{ members.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="task_type">Task Type</label>
                                <select class="form-control" name="task_type" id="task_type" required>
                                    <option value="" class="disabled">Choose Type</option>
                                    <option value="1">Edit</option>
                                    <option value="2">Redesign</option>
                                    <option value="3">New</option>
                                    <option value="4">Live</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="task_type">Priority</label>
                                <select class="form-control" name="priority" id="priority" required>
                                    <option value="" class="disabled">Choose Level</option>
                                    <option value="1">High</option>
                                    <option value="2">Regular</option>
                                </select>
                            </div>
                            {#
                                                                <div class="form-group">
                                                                    <label for="date">Submission Date</label>
                                                                    <input type="date" name="date" class="form-control" id="date"
                                                                           placeholder="Input Client ID" required>
                                                                </div>
                            #}
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}



{% block jsBottom %}
    <!-- include summernote css/js-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });

        $('#summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,                  // set focus to editable area after initializing summernote

        });
    </script>

{% endblock %}

{% block cssTop %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

{% endblock %}


