{% extends 'layout/common.twig' %}
{% block title %} Task Details{% endblock %}



{% block contant_wrapper %}

    <div class="row">

        <div class="col-md-12">
            <h4 class="pull-left text-uppercase title">Task Details</h4>

            <div class="pull-right btn-toolbar">
                {% if session.user.0.role=='Admin' %}

                    <a href="/task/create" class="btn btn-info btn-group  text-uppercase">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
                    </a>
                    <a href="/task/edit/{{ details.task_id }}" class="btn btn-warning btn-group  text-uppercase">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update
                    </a>


                    <a href="/task/list/all" class="btn btn-info btn-group  text-uppercase">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Task
                    </a>



                {% elseif session.user.0.role=='Member' %}
                    <form action="/task/member/change_status" method="post" class="form-inline">
                        {% if details.status==1 %}
                            <span class="text-success text-uppercase"
                                  style="color:#46af48;font-weight:600"></span>
                        {% elseif details.status==4 %}
                            <span class="text-success text-uppercase"
                                  style="color:#46af48;font-weight:600"></span>
                        {% else %}
                            <div class="form-group">
                                <select name="status" id="inputID" class="form-control" required>
                                    <option value="3" {{ details.status==3 ? 'selected' : '' }}>Pending</option>
                                    <option value="4" {{ details.status==4 ? 'selected' : '' }}>Done</option>
                                    <option value="5" {{ details.status==5 ? 'selected' : '' }}>On Progress</option>
                                    <option value="6" {{ details.status==6 ? 'selected' : '' }}>Pause</option>
                                </select>
                            </div>
                            <input type="hidden" name="cid" value="{{ details.client_id }}">
                            <div class="form-group">

                                <input type="text" class="form-control" value="{{ details.site_url }}" name="site_url" placeholder="Site URL" required>
                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" value="{{ details.site_username }}"
                                       name="site_username" placeholder="User Name" required>
                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" value="{{ details.site_password }}"
                                       name="site_password" placeholder="Password" required>
                            </div>

                            <input type="hidden" name="task_id" value="{{ details.task_id }}">
                            <div class="form-group">

                                <input type="submit" class="btn btn-success" value="Submit">
                            </div>
                        {% endif %}

                    </form>
                {% endif %}

            </div>
        </div>
    </div>
    <br>
    {% if session.user.0.role=='Admin' %}
        {% if details.status==4 %}
            <form action="/task/taska_status"  method="post">
            <div class="row">
                <div class="col-md-4">
                    <select name="status" id="inputID" class="form-control" required>
                        <option value="" hidden> -- Select Status --</option>
                        <option value="1">Complete</option>
                        <option value="2">Incomplete</option>
                    </select>
                    <input type="hidden" name="task_id" value="{{ details.task_id }}">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="{{ details.site_url }}" name="site_url"
                           placeholder="Site URL">
                </div>

                <div class="col-md-1">
                    <input type="hidden" name="cid" value="{{ details.client_id }}">
                    <input type="hidden" name="task_id" value="{{ details.task_id }}">
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>
            </div>
        {% endif %}
        </form>
        {% if details.status==1 %}
            {#<form action="/task/member/change_status" class="form-inline" method="post">
                <div class="form-group">
                <select name="status" id="inputID" class="form-control" required>
                    <option value="" hidden> -- Select Status --</option>
                    <option value="3" {{ details.status==3 ? 'selected' : '' }}>Pending</option>
                    <option value="4"  {{ details.status==4 ? 'selected' : '' }}>Done</option>
                    <option value="5"  {{ details.status==5 ? 'selected' : '' }}>On Progress</option>
                    <option value="6"  {{ details.status==6 ? 'selected' : '' }}>Pause</option>
                </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="site_url" placeholder="Site URL" >
                </div>
                <input type="hidden" name="task_id" value="{{ details.task_id }}">
                <input type="submit" class="btn btn-success" value="Submit">
            </form>#}
        {% endif %}

        {% if details.status!=4 and details.status!=1 %}
            <form action="/task/member/change_status" class="form-inline" method="post">
                <div class="form-group">
                    <select name="status" id="inputID" class="form-control" required>
                        <option value="" hidden> -- Select Status --</option>
                        <option value="3" {{ details.status==3 ? 'selected' : '' }}>Pending</option>
                        <option value="4" {{ details.status==4 ? 'selected' : '' }}>Done</option>
                        <option value="5" {{ details.status==5 ? 'selected' : '' }}>On Progress</option>
                        <option value="6" {{ details.status==6 ? 'selected' : '' }}>Pause</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" name="cid" value="{{ details.client_id }}">
                    <input type="text" class="form-control" value="{{ details.site_url }}" name="site_url"
                           placeholder="Site URL">
                </div>
                <input type="hidden" name="task_id" value="{{ details.task_id }}">
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        {% endif %}

    {% endif %}
    <hr>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="task-hero">
                <div class="section">

                </div>
                <div class="section  des-box">
                    <h5 class="text-primary">Description:</h5>
                    {{ details.description |raw }}
                </div>

                {% if attached is empty %}

                {% else %}
                    <div class="section">
                        <div class="pull-right btn-toolbar">
                            <a href="/task/attach-zip/{{ details.task_id }}" class="btn btn-info btn-group  text-uppercase">
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download as zip
                            </a>
                        </div>
                        <br>
                        <h5 class="text-primary">Attachment:</h5>
                        <ul class="list-group">

                            {% for attachment in attached %}
                                <li class="list-group-item">
                                    <b>{{ loop.index }}.</b>
                                    {% set fileName = attachment.attached_path |split('/') %}
                                    {{ fileName[1] }}
                                    {#{{ dump(attachment.attached_path |split('/')) }}#}
                                    <a href="/{{ attachment.attached_path }}"
                                       class="btn btn-link pull-right">Download</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {#{{ dump(session.user.0.role) }}#}
                {% if (session.user.0.role=='Admin') %}
                    <div class="col-md-12">
                        <div class="pull-right btn-toolbar">
                            <a href="/task/attached/{{ details.task_id }}"
                               class="btn btn-link btn-group  text-uppercase">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add more files
                            </a>
                        </div>

                    </div>
                {% endif %}
            </div>

            <h4 class="text-primary"><u>Comments:</u></h4>
            <dl>
                {% for commt in all_comments %}
                    <dd>{{ commt.comments }} -
                        {% if session.user.0.username == commt.username %}
                            <i style="color: green">
                                <u>{{ commt.username }}</u>
                            </i>
                            <span>
                                {{ commt.created_at | date("M d, Y") }}<span
                                        style="font-size: 10px; color: #999;"> ({{ commt.created_at | date("h:i A") }}
                                    )</span>
                            </span>

                        {% else %}
                            <i style="color: #FFA500"><u>{{ commt.username }}</u></i>
                            <span>
                                {{ commt.created_at | date("M d, Y") }}<span
                                        style="font-size: 10px; color: #999;"> ({{ commt.created_at | date("h:i A") }}
                                    )</span>
                            </span>
                        {% endif %}
                    </dd>
                    {% if  commt.comment_attach %}
                        <a href="/{{ commt.comment_attach }}" class="btn btn-info pull-right">attached file</a><br>
                    {% endif %}
                    <hr>
                {% endfor %}
            </dl>
            <form method="post" action="/task/comment" enctype="multipart/form-data">
                <input type="hidden" value="{{ session.user.0.id }}" name="user_id">
                <input type="hidden" value="{{ session.user.0.username }}" name="username">
                <input type="hidden" value="{{ details.task_id }}" name="task_id">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Write your comment" name="comments"></textarea><br>
                    <input type="file" name="comment_attach" class=" pull-right">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Comments</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <table class="table table-responsive table-hover">
                <tr>
                    <td><b>Task Type:</b></td>
                    <td>
                        {% if  details.task_type==1 %}
                            <span class="label label-warning"> Edit </span>
                        {% elseif details.task_type==2 %}
                            <span class="label label-primary"> Redesign </span>
                        {% elseif details.task_type==3 %}
                            <span class="label label-info">New </span>
                        {% elseif details.task_type==4 %}
                            <span class="label label-success">Live </span>
                        {% endif %}
                    </td>


                </tr>

                <tr>
                    <td><b>Assign From:</b></td>
                    <td>
                        {{ details.users_full_name }}
                    </td>
                </tr>


                <tr>
                    <td style="width:200px"><b>Assign To:</b></td>
                    <td>
                        {{ details.members_full_name }}
                    </td>
                </tr>

                <tr>
                    <td style="width:200px"><b>Client ID:</b></td>
                    <td>
                        {{ details.client_id }}
                    </td>
                </tr>

                <tr>
                    <td style="width:200px"><b>Site Url:</b></td>
                    <td>
                        <a target="_blank"
                           href="{{ details.site_url }}">{{ details.site_url }}</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:200px"><b>Task Status:</b></td>
                    <td>
                        {% if  details.status==1 %}
                            <span class="text-success text-uppercase"
                                  style="color:#46af48;font-weight:600">Complete </span>
                        {% elseif details.status==2 %}
                            <span class="text-danger text-uppercase"
                                  style="color: #ff9800 ;font-weight:600"> Incomplete </span>
                        {% elseif details.status==3 %}
                            <span class="text-warning text-uppercase"
                                  style="color: #e82f21 ;font-weight:600">Pending </span>
                        {% elseif details.status==4 %}
                            <span class="text-primary text-uppercase" style="color:#46af48;font-weight:600">Done </span>
                        {% elseif details.status==5 %}
                            <span class="text-default text-uppercase"
                                  style="color: #ff9800;font-weight:600">On Progress </span>
                        {% elseif details.status==6 %}
                            <span class="text-default text-uppercase"
                                  style="color: grey;font-weight:600">Pause </span>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td style="width:200px"><b>Task Priority:</b></td>
                    <td>
                        {% if  details.priority==1 %}
                            <span class="text-success text-uppercase"> High </span>
                        {% elseif details.priority==2 %}
                            <span class="text-danger text-uppercase"> Regular </span>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td style="width:200px"><b>Site Username:</b></td>
                    <td>
                        {{ details.site_username ?  details.site_username : 'N/A'  }}
                    </td>
                </tr>


                <tr>
                    <td style="width:200px"><b>Site Password:</b></td>
                    <td>
                        {{ details.site_password ? details.site_password : 'N/A' }}
                    </td>
                </tr>


                <tr>
                    <td style="width:200px"><b>Created Date:</b></td>
                    <td>
                        {{ details.created_at|date('d M, Y') }}
                    </td>
                </tr>
            </table>

        </div>
    </div>


{% endblock %}