<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="https://www.previewtechs.com/wp-content/uploads/2016/01/phl-favicon.png"/>

    <title>{% block title %}{% endblock %} -Task Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ base_url }}/assest/custom.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{{ base_url }}/assest/jsplugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ base_url }}/assest/jsplugin/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ base_url }}/assest/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ base_url }}/assest/jsplugin/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ base_url }}/assest/jsplugin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block jsTop %}

    {% endblock %}

    {% block cssTop %}

    {% endblock %}

</head>
<body>
<div id="wrapper">
    {# navigation bar and header #}
    {% include '/element/common/nav.twig' %}

    <div id="page-wrapper">
        <br>
        {% include '/element/common/flash.twig' %}

        {% block contant_wrapper %}

        {% endblock %}

    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ base_url }}/assest/jsplugin/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ base_url }}/assest/jsplugin/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ base_url }}/assest/jsplugin/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ base_url }}/assest/jsplugin/raphael/raphael.min.js"></script>
<script src="{{ base_url }}/assest/jsplugin/morrisjs/morris.min.js"></script>
{#<script src="{{ base_url }}/assest/data/morris-data.php"></script>#}

<!-- Custom Theme JavaScript -->
<script src="{{ base_url }}/assest/dist/js/sb-admin-2.js"></script>


{% block jsBottom %}
    {% include '/element/morris-data.twig' %}

{% endblock %}

{% block cssBottom %}

{% endblock %}

</body>

</html>