{% extends "layout.twig" %}
{% block placeholder %}
    <p style="text-align: right; margin: 20px">
        <a href="/add"><span class="btn btn-success glyphicon glyphicon-plus"> CREATE</span></a>
        <a href="/update/{{ details.employee_id }}"><span type="button" class="btn btn-warning glyphicon glyphicon-edit"> UPDATE</span></a>
        <a href="/employee"><span type="button" class="btn btn-info glyphicon glyphicon-list"> EMPLOYEES</span></a>

    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-8" class="dl-horizontal">
                <div style="margin: 20px"><h3>Employee Details</h3></div>
                <div class="row" style="padding-left: 40px">
                    <div class="col-lg-4">
                        <dl style="font-size: 15px">
                            <dt>Name</dt><br>
                            <dt>Gmail</dt><br>
                            <dt>Phone</dt><br>
                            <dt>Gender</dt><br>
                            <dt>Department</dt><br>
                            <dt>Designation</dt><br>
                            <dt>Work Type</dt><br>
                            <dt>salary</dt><br>
                            <dt>Description</dt><br>


                        </dl>
                    </div>
                    <div class="col-lg-4">
                        <dl style="font-size: 15px">
                            <dd>{{ details.employee_name }}</dd><br>
                            <dd>{{ details.email }}</dd><br>
                            <dd>{{ details.phone }}</dd><br>
                            <dd>{{ details.gender}}</dd><br>
                            <dd>{{ details.department_name }}</dd><br>
                            <dd>{{ details.designation_name }}</dd><br>
                            <dd>{{ details.work_time }}</dd><br>
                            <dd class="glyphicon glyphicon-usd">{{details.salary|number_format(2,'.',',')}}</dd><br><br>
                            <dd>{{ details.description }}</dd><br>


                        </dl>
                    </div>
                </div>
            <div class="col-lg-4"></div>
        </div>

    </div>

{% endblock %}