{% extends 'layout.twig' %}
{% block contant_wrapper %}


    <div class="row">
        <div class="col-md-12">
            <h4 class="pull-left text-uppercase">Create New Member</h4>
            <div class="pull-right btn-toolbar">
                <a href="/member-create" class="btn btn-info btn-group  text-uppercase">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Add Member
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">

        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Slack Username</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in data %}
                                <tr>
                                    <td>{{ row.first_name }}</td>
                                    <td>{{ row.last_name }}</td>
                                    <td>{{ row.username }}</td>
                                    <td>{{ row.role }}</td>
                                    <td>{{ row.slack_username }}</td>
                                    <td>
                                        <a href="/member-edit/{{ row.id }}"><span class="fa fa-pencil"></span></a>
                                        <a href="/member-delete/{{ row.id }}"><span class="fa fa-remove"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
    </div>
{% endblock %}