{% extends 'layout.twig' %}

{% block nav %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Task managament System</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">



        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i>{{ session.user.0.first_name }}</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links   -->
    {% include 'side_nav.twig' %}
{% endblock %}

{% block contant_wrapper %}
    <div class="container">
        <div class="page-header">
            <h1>Update Member Information</h1>
        </div>
        <form class="form-horizontal" method="post" action="/member-edit">
            {% for row in data %}
                <input type="hidden" value="{{ row.id }}" name="id">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label ">First Name</label>
                <div class="col-sm-3">
                    <input type="text" value="{{ row.first_name }}" name="first_name" class="form-control" id="inputEmail3" placeholder="First Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label ">Last Name</label>
                <div class="col-sm-3">
                    <input type="text" value="{{ row.last_name }}" name="last_name" class="form-control" id="inputEmail3" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label ">Username</label>
                <div class="col-sm-2">
                    <input type="text"  value="{{ row.username }}" name="username" class="form-control" id="inputEmail3" placeholder="User Name" required>
                </div>
            </div>
            {#<div class="form-group">
                <label for="" class="col-sm-2 control-label ">Password</label>
                <div class="col-sm-2">
                    <input type="password" name="password" class="form-control" id="inputEmail3" placeholder="Password" required>
                </div>
            </div>#}
            <div class="form-group">
                <label for="" class="col-sm-2 control-label ">Role</label>
                <div class="col-sm-2">
                    <select class="form-control" name="role">
                        {% if row.role=='Admin' %}
                        <option value="Admin" selected="selected">Admin</option>
                        <option value="Member">Member</option>
                            {% else %}
                                <option value="Admin" >Admin</option>
                                <option value="Member" selected="selected">Member</option>
                         {% endif %}
                    </select>
                </div>

            </div>

                <div class="form-group">
                    <label for="slack_username" class="col-sm-2 control-label ">Slack Username</label>
                    <div class="col-sm-2">
                        <input type="text"  value="{{ row.slack_username }}" name="slack_username" class="form-control" id="slack_username" placeholder="slack username Name" required>
                    </div>
                </div>
                {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>


        </form>
    </div>

{% endblock %}