{% extends 'layout.twig' %}
{% block title %} Task{% endblock %}

{% block contant_wrapper %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="pull-left text-uppercase">{{ typeTitle }} Task List</h4>
            <div class="pull-right btn-toolbar">
                <a href="/task/create" class="btn btn-info btn-group  text-uppercase">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
                </a>
            </div>
        </div>
    </div>
    <hr>

    {%  if task is empty %}
        There has no task
      {% else %}
    <form action="/task/admin_status" method="post">
    <div class="row">
        <div class="col-md-4">
            <select name="status" id="inputID" class="form-control" required>
                <option value=""> -- Select Status --</option>
                <option value="1">Complete</option>
                <option value="2">Incomplete</option>
            </select>
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-success">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                    <th></th>
                    <th>Client ID</th>
                    <th>Created By</th>
                    <th>Assign To</th>
                    <th>Task Type</th>
                    <th>Status</th>
                    <th>Assign Date</th>


                    <th style="text-align: right">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for tasks in task %}
                    <tr class="odd gradeX">
                        <td>
                            {% if  tasks.status==4 %}
                                <input type="checkbox" name="task_id[]" value="{{ tasks.task_id }}">
                            {% endif %}

                        </td>
                    </form>
                        <td>{{ tasks.client_id }}</td>
                        <td>{{ tasks.users_full_name }}</td>
                        <td>{{ tasks.members_full_name }}</td>
                        <td>
                            {% if  tasks.task_type==1 %}
                                <span class="label label-success"> Edit </span>
                            {% elseif tasks.task_type==2 %}
                                <span class="label label-primary"> Redesign </span>
                            {% elseif tasks.task_type==3 %}
                                <span class="label label-info">New </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if  tasks.status==1 %}
                                <span class="text-success text-uppercase"> Complete </span>
                            {% elseif tasks.status==2 %}
                                <span class="text-danger text-uppercase"> Incomplete </span>
                            {% elseif tasks.status==3 %}
                                <span class="text-warning text-uppercase">Pending </span>
                            {% elseif tasks.status==4 %}
                                <span class="text-primary text-uppercase">Done </span>
                            {% elseif tasks.status==5 %}
                                <span class="text-default text-uppercase">Invalid </span>
                            {% endif %}

                        </td>
                        <td>{{ tasks.created_at|date('d M, Y') }}</td>


                        <td style="text-align: right">
                            <a href="/task/task_details/{{ tasks.task_id }}"><span class="glyphicon glyphicon-eye-open"
                                                                                   data-toggle="tooltip"
                                                                                   title="Details"></span></a>
                            <!--<a href="/task/task_update/{{ tasks.task_id }}"><span class="glyphicon glyphicon-edit"
                                                                                  data-toggle="tooltip" title="Edit"
                                                                                  style="color: grey"></span></a>-->
                            <a href="/task/task_delete/{{ tasks.task_id }}"><span class="glyphicon glyphicon-remove"
                                                                                  data-toggle="tooltip" title="Remove"
                                                                                  style="color: red"></span></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}